.textInfo {
	font-size: 200%;
	color: white;
	background-color: black;
}

.headerTabs{
	overflow: hidden;
  border: 1px solid #ccc;
  background-color: #e7e7e7;
	/* width:50.9%; */
}

.headerTabs button{
	background-color: #e7e7e7;
  border: none;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 200%;
}
#idContentDialer{
	width:99.5%;
}

/* .headerTabs button:click {
  background-color: #A9A9A9;
} */

.headerTabs button.active {
  background-color: #A9A9A9;
}

.contentDialer {
	width: 100%;
	height: 100%;
}

.contentContactList {
	width: 100%;
	height: 100%;
}

.contentNewContact {
	width: 100%;
	height: 100%;
}

.contentHelp {
	width: 100%;
	height: 220%;
}

.dialer{
  background-color: #e7e7e7; color: black;
  border: 1px solid #ccc;
  padding: 15px 35px;
	width: 21%;
	margin: 3px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
	border-radius: 8px;
}

.dialerS{
  background-color: #e7e7e7; color: black;
  border: 1px solid #ccc;
	width: 31.8%;
	margin: 3px 0;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
	border-radius: 8px;
}

.contactNames{
	background-color: #e7e7e7; color: black;
  border: 1px solid #ccc;
	width: 206px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
	border-radius: 8px;
}
.textButton1{
	width: 32%;
	background-color: #e7e7e7; color: black;
  border: 1px solid #ccc;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 200%;
	border-radius: 8px;
}

input {
  width: 64%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 200%;
}
table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid white;
  text-align: center;
  padding: 5px;
	font-size: 200%;
	color: white;
	background-color: black;
}

.hpImages {
	width: 200px;
	height: 200px;
}
/* .contentNewContact{
	text-align:center;
} */
/* .headerTabs{
	background: grey;
	border: 0.8px solid black;
	overflow: hidden;
	position:fixed;
	padding: 14px 14px;
	transition: 0.2s;
	outline: none;
	border: none;
	width: 20%;
	float: left;
	background-color: #ccc;
} */
